# TinyImage 配置
# 三層優先：CLI > .env > 程式碼預設值

TINYIMAGE_ARC_EXTS=.zip,.7z
TINYIMAGE_IMG_EXTS=.jpg,.jpeg,.png,.webp
TINYIMAGE_INPUT=input
TINYIMAGE_JPEG_PROGRESSIVE=true
TINYIMAGE_OUTPUT=output
TINYIMAGE_PNG_LEVEL=9
TINYIMAGE_PNG_LEVEL_STREAM=3
TINYIMAGE_QUALITY=80
TINYIMAGE_SUFFIX=[minify]
TINYIMAGE_WEBP_METHOD=6
TINYIMAGE_WEBP_METHOD_STREAM=4
